/* CSS Document */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

/* fonts 
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
*/
body {
	position: relative;
	background-color: #FAF8F6;
}

main {
	padding-top: 7.9em;

}


h1 {}

h2 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
	margin: 0px 0px 10px;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 1em;
}


/* header */
header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}

.topbar {
	color: #FAF8F6;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	background-color: #1e1e1e;
	text-align: center;
	padding: 1em;
}

.menu {
	padding: 1em;
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.menu > img {
	width: 10em;
	height: 100%;
}



/* navigatie */

.navigatie {
	margin-top: 5em;
	position: absolute;
	left: 0;
	right: 0;
	padding-left: 0;
	min-width: 100vw;
	background-color: #f9f6f4;
	display: flex;
	justify-content: center;


}

.navigatie > li {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #1e1e1e;
	list-style: none;
	text-align: center;
	padding: 1em;

}

a {
	color: #1e1e1e;
	text-decoration: none;
}

a:visited {
	color: #1e1e1e;
}


/* Main */

.headerfoto {
	width: 100%;
	margin-bottom: 1em;

}




.section1 {
	margin: 0 1em 1em 1em;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 0.6;
	margin: 0.5em 0.2em 0 0.2em;
	padding: 0.7em 2.1em;
	border-radius: 0;	
	background-color: transparent;
	border: 1px solid black;
	flex-grow: 1;
	
} 

button:last-of-type {
 flex-grow: 2;
}

.buttons {
	margin: 0 1em 1em 1em;
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	
}



