/* CSS Document */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

/* fonts 
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
*/
body {
	position: relative;
	background-color: #FAF8F6;
}

main {
	padding-top: 7.9em;

}


h1 {}

h2 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
	margin: 1em 0 0.8em;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	text-align: center;
	margin-bottom: 1em;
}

a {
	color: #1e1e1e;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	
}

/* header */
header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}

.topbar {
	color: #FAF8F6;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	background-color: #1e1e1e;
	text-align: center;
	padding: 1em;
}

.menu {
	padding: 1em;
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.menu > img {
	width: 10em;
	height: 100%;
}



/* navigatie */

.navigatie {
	margin-top: 5em;
	position: absolute;
	left: 0;
	right: 0;
	padding-left: 0;
	min-width: 100vw;
	background-color: #f9f6f4;
	display: flex;
	justify-content: center;


}

.navigatie > li {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #1e1e1e;
	list-style: none;
	text-align: center;
	padding: 1em;

}

li > a {
	color: #1e1e1e;
	text-decoration: none;
}

a:visited {
	color: #1e1e1e;
}


/* Main */

.headerfoto {
	width: 100%;

}


section {
	margin: 1em 1em 2.5em 1em;
	position: relative;
}

section > img {
	width: 100%;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 0.6;
	margin: 0.5em 0.2em 0 0.2em;
	padding: 0.8em 2.2em;
	border-radius: 0;
	background-color: transparent;
	border: 1px solid black;
	flex-grow: 1;

}

button:last-of-type {
	flex-grow: 2;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}


.enkel {
	width: 12em;
	position: absolute;
	left: calc(50% - 6em);
	bottom: -5em;

}

.section3 {
	margin-top: 7em;
}

.section3 > ul {
	list-style: none;
	text-align: center;
	line-height: 2em;
	padding-left: 0;
	margin-top: 4em;
}

hr {
	width: 4em;
	border-top: 3px solid black;
	position: absolute;
	left: calc(50% - 2em);
}

footer > section {
	background-color: white;
	position: relative;
	padding: 4em 4.5em;
	margin: 1em 0 0;
}


form {
	margin-top: 4em;
	font-family: 'Montserrat', sans-serif;	
}

label {
	font-size: 1.2em;
	font-weight: 500;
	
}

input[type=text] {
	height: 3.5em;
	width: 100%;
	font-family: 'Montserrat', sans-serif;	
	font-size: 1em;
	font-weight: 500;
	background-color: white;
	border: 1px solid black;
	padding-left: 1em;
	margin: 0.7em 0;
}

input[type=submit] {
	height: 3.5em;
	width: 100%;
	font-family: 'Montserrat', sans-serif;	
	font-size: 1em;
	font-weight: 500;
	background-color: white;
	border: 1px solid black;
	margin: 0.7em 0;
}

footer > section:last-of-type {
	background-color: #e5e1dc;
	margin:0;
	padding: 1em;
}
