/* CSS Document */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

/* fonts 
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
*/

/* Algemeen */
body {
	position: relative;
	background-color: #FAF8F6;
	max-width: 120em;
	margin: auto;
}

main {
	padding-top: 7.9em;
}

h1 {}

h2 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
	margin: 1em 0 0.8em;
}

h3 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 0.7em;
}

h4 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 800;
	font-size: 0.8em;
	padding-top: 0.5em;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	text-align: center;
	margin: 0 0.5em 1em 0.5em;
}


/* header */
header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}

div:first-of-type {
	color: #FAF8F6;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	background-color: #1e1e1e;
	text-align: center;
	padding: 1em;
}

div:nth-of-type(2) {
	padding: 1em;
	background-color: #fff;
	display: flex;
	justify-content: center;
	position: relative
}

}

div:nth-of-type(2) > img {
	width: 10em;
	height: 100%;
}

div:nth-of-type(2) > img:nth-of-type(2) {
	width: 1em;
	position: absolute;
	right: 1em;
}


/* navigatie */

body > ul:first-of-type {
	margin-top: 5em;
	position: absolute;
	left: 0;
	right: 0;
	padding-left: 0;
	min-width: 100vw;
	background-color: #f9f6f4;
	display: flex;
	justify-content: center;

}

body > ul:first-of-type > li {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #1e1e1e;
	list-style: none;
	text-align: center;
	padding: 1em;

}

li > a {
	color: #1e1e1e;
	text-decoration: none;
}

a {
	color: #1e1e1e;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
}

a:visited {
	color: #1e1e1e;
}

a:hover {
	font-weight: 600;
}

a:focus {
	border: 1px black;
}

/* Main */

main > img:first-of-type {
	width: 100%;
}

section {
	margin: 1em 1em 2.5em 1em;
	position: relative;
}

section > img {
	width: 100%;
	margin: auto;
}

main > section:nth-of-type(3) > img:nth-of-type(2) {
	display: none;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 0.8em;
	margin: 0.5em 0.2em 0 0.2em;
	padding: 0.8em 2.2em;
	border-radius: 0;
	background-color: transparent;
	border: 1px solid black;
	flex-grow: 1;
}

button:focus {
	border: 1px black;
}

button:active {
	background-color: #9b7c45;
	border: 1px black;
	color:white;
}

button:hover{
	background-color:#9b7c45;
	color:white;
	border-color: #9b7c45;
}

button > a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1em;
	text-decoration: none;
}

button > a:hover {
	background-color:#9b7c45;
	color:white;
	border:none;
}
.buttons {
	display: flex;
	flex-wrap: wrap;
	max-width: 28em;
	margin: 0 auto;
	padding: 0.5em;
}

.enkel {
	display: block;
	width: 12em;
	margin: 2em auto 4em;
	bottom: -5em;
}

.section3 > ul {
	list-style: none;
	text-align: center;
	line-height: 2em;
	padding-left: 0;
	margin-top: 4em;
}


hr {
	width: 4em;
	border-top: 3px solid black;
	position: absolute;
	left: calc(50% - 2em);
}

footer > section:first-of-type {
	background-color: white;
	position: relative;
	padding: 4em 4.5em;
	margin: 1em 0 0;
}

/* formulier */
form {
	font-family: 'Montserrat', sans-serif;
	max-width: 30em;
	margin: 4em auto;
}

fieldset {
	border: none;
}

fieldset:first-of-type {
	max-width: 20em;
	margin: auto;
}

label {
	font-size: 1em;
	font-weight: 500;
	margin-right: 3em;
}

input[type=text] {
	height: 3.5em;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 500;
	background-color: white;
	border: 1px solid black;
	padding-left: 1em;
	margin: 0.7em 0;
}

input[type=checkbox] {
	width: 20px;
	height: 20px;
	border-radius: 0;
	margin: 0 0.5em 1em 0;
}

input[type=submit] {
	height: 3.5em;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 500;
	background-color: white;
	border: 1px solid black;
	margin: 0.7em 0;
}

input[type=submit]:hover {
	background-color:#9b7c45;
	color:white;
	border: none;
}

input[type=submit]:active {
	background-color:#9b7c45;
	color:white;
	border: 1px black;
}


form > p {
	display: none;
}

footer > section:nth-of-type(2) {
	margin: 0;
	padding: 0.7em 0.5em 0;
}

footer > section:nth-of-type(2) > img {
	display: block;
	width: 20px;
	margin: 0 auto;
}

footer > section:last-of-type {
	background-color: #e5e1dc;
	margin: 0;
	padding: 1em;
	max-height: 3em;
}


footer > section:last-of-type {
	display: flex;
	justify-content: center;
}

footer > section:last-of-type > img {

	width: 20px;
	margin: 0 0.5em;
}

/* Pagina 2 - Kleding */

.pagina2 > h2 {
	margin-top: 6em;
}

.pagina2 > button {
	display: block;
	width: 90%;
	margin: 3em auto 1em;
	position: relative;
}

.pagina2 > button > img {
	width: 18px;
	position: absolute;
	left: 1em;

}

.artikelen {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5em;
	margin: 2em auto;
}

article {
	padding-bottom: 1em;
	position: relative;
}

article > img {
	width: 100%;
}


article > img:nth-of-type(2) {
	width: 20px;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	transition: 1s;
}

article > img:nth-of-type(2).verander {
	background: #9b7c45;
	border-radius: 8px;
}

.filtergroot {
	display: none;
}

/* Responsive */

@media (min-width:50em) {
	
	section > img {
		max-width: 50em;
		margin: auto;
	}
	
	.artikelen {
		width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0.5em;
		margin: 2em auto;
	}

	.kolom3 {
		display: grid;
		grid-template-columns: 1fr 5fr;
	}

	.pagina2 > button {
		display: none;

	}

	.filtergroot {
		display: block;
	}

	.filtergroot > ul > li {
		list-style: none;
		font-family: 'Montserrat', sans-serif;
		font-size: 0.8em;

	}

	.filtergroot > ul {
		margin-left: -1.5em;
		margin-right: -2em;
	}

	li > input[type=checkbox] {
		width: 13px;
		height: 13px;
		border-radius: 0px;
	}

	ul > h3 {
		font-family: 'Montserrat', sans-serif;
		font-size: 1em;
		font-weight: 600;
		margin: 1em 0;
	}

	div:nth-of-type(2) {
		padding: 1em;
		background-color: #fff;
		display: flex;
		justify-content: left;
	}

	.buttons {
		max-width: 40em;
		margin: 0 auto;
	}


	main > section:nth-of-type(3) > img:nth-of-type(2){
		display: block;
	}

	.hide {
		display: none;
	}

	.naastelkaar {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em;
		margin: 2em 3em;
	}

}

@media (min-width:65em) {

	section>img {
		max-width: 65em;
		margin: auto;
	}

	.section3 > ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	form {
		max-width: 35em;
	}

	form > p {
		display: block;
	}


	fieldset:first-of-type {
		max-width: 35em;
		margin: auto;
	}

	label {
		font-size: 1em;
		font-weight: 500;
		margin-right: 1em;
	}

	input[type=checkbox] {
		width: 20px;
		height: 20px;
		border-radius: 0;
		margin: 0 0.5em 1em 0;
	}

	input[type=submit] {
		width: 10em;
		height: 2.7em;
	}

	input[type=text] {
		height: 2.7em;
		width: 22em;
		margin-right: 1em;
	}

}
